@model dynamic

@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<title>title</title>
</head>
<body>
<div>
	<h2>Chat with SignalR</h2>
	<div id="loginblock">
		Enter login <br />
		<input id="txtusername" type="text" />
		<input id="btnlogin" type="button" value="login" />
	</div>

	<div id="chatbody">
		<div id="header"></div>
		<div id="inputForm">
			<input type="text" id="message" />
			<input type="button" id="sendmessage" value="Send" />
		</div>
		<div id="chatroom">
			<ul></ul>
		</div>

	</div>
	<input id="username" type="hidden" />
	<script src="../../Scripts/jquery-2.1.4.js"></script>
	<script src="~/Scripts/jquery.signalR-2.2.2-preview1.js"></script>
	<script>
	$(function () {
		// alert("glob");
		$('#chatbody').hide();
		// receiving the message
		var conn = $.connection("/chat");

		alert(conn + " tipy");
		conn.received(function(data) {
			$('#chatroom ul').append("<li><strong>" + htmlEncode(data.Name) + '<strong/>' + htmlEncode(data.Message) + '</li>');
		});
		alert("btnlog-in hasav");
		$('#btnlogin')
			.click(function () {
				// alert('coming');
				var usname = $('#txtusername').val();
				if (usname.length > 0) {
					$('#username').val(usname);
					$('#btnlogin').attr('disabled', 'disabled');
					$('#txtusername').attr('disabled', 'disabled');
					$('#chatbody').show();
					conn.start()
						.done(function() {
							$('#sendmessage')
								.click(function() {
									conn.send(JSON.stringify({
										name: $('#username').val(),
										message: $('#message').val()
									}));
									$('#message').val('');
								});
						});
				} else {
					alert('Enter name');
				}
			});
	});

	function htmlEncode(value) {
		var encodedvalue = $('<div />').text(value).html();
		return encodedvalue;
	}

	</script>
</div>
</body>
</html>