@{
	Layout = null;
}


<html>
<head>
	<title></title>
</head>
<body>
	<h2>Chat room</h2>

	<div class="main">
		<div id="loginBlock">
			Enter login:<br />
			<input id="txtUserName" type="text" />
			<input id="btnLogin" type="button" value="Войти" />
		</div>
		<div id="chatBody">
			<div id="header"></div>
			<div id="inputForm">
				<input type="text" id="message" />
				<input type="button" id="sendmessage" value="Отправить" />
			</div>
			<div id="chatroom"></div>

			<div id="chatusers">
				<p><b>All Users...!</b></p>
			</div>
		</div>
		<input id="hdId" type="hidden" />
		<input id="username" type="hidden" />
	</div>

	<script src="~/Scripts/jquery-1.10.2.min.js"></script>
	<script src="~/Scripts/jquery.signalR-2.2.2-preview1.min.js"></script>
	<script src="~/signalr/hubs"></script>
	<script src="~/Scripts/util.js"></script>
</body>
</html>